<% @post.comments.each do |comment| %>
  <h4 class="muted"> 
    <%= comment.name %> says:
  </h4>
  <p>
  <%= comment.body %>
  </p>
  <p class="footer muted">
    <%= format_time(comment.created_at) %>
  </p>
<%= button_to("Delete comment", post_comment_path(comment.post_id, comment.id), method: :delete, data: { confirm: "Are you sure?" }) %>
<% end %>
<% if flash[:error] %>
    <% flash[:error].each do |error| %>
    <p class="error">
      <%= error %>
    </p>
  <% end %>
<% end %>

