<% if @user.id == session[:id] %>
  <%= @user.username.titleize + " Force's Account" %>
  <p>Change your password, if you'd like.</p>

  <%= form_for @user, url: {action: "update"} do |f| %>
    <label for="old_password">Old Password</label>
    <input type="password" name="old_password"></input>
    <%= f.label(:password, "New Password") %>
    <%= f.password_field(:password) %>
    <label for="password_again">New Password Again</label>
    <input type="password" name="password_again"></input>
    <%= f.submit "Update Password", action: "update" %>
  <% end %>
  <p class="error">
    <%= flash[:error] %>
  </p>
  <p class="notice">
    <%= flash[:notice] %>
  </p>
<% end %>
