<% @title = "Videos" %>
<h1 class="center neb">Videos</h1>
<%= @parse %>
  <div class="center">
    <div id="video-gallery">
      <% @videos.each do |video| %>
            <a href="https://www.youtube.com/watch?v=_f-EqH6JpNE">
              <img class="small" src="<%= image_path("Usher12.jpg") %>"/>
            </a>
      <% end %>
    </div>
  </div>
<% if session[:id] != nil %>
  <%= form_for Video.new do |f| %>
    <% if Video.first == nil %>
      <%= f.submit "Create" %>
    <% else %>
      <%= f.submit "Refresh" %>
    <% end %>
  <% end %>
<% end %>
