<% @title = "Videos" %>
<h1 class="center neb">Videos</h1>
<%= @parse %>
<% @videos.each do |video| %>
  <div class="center">
    <div id="video-gallery">
      <a href= "<%= "#{video.link}" %>" >
      </a>
    </div>
  </div>
<% end %>
<% if session[:id] != nil %>
  <%= form_for Video.new do |f| %>
    <% if Video.first == nil %>
      <%= f.submit "Create" %>
    <% else %>
      <%= f.submit "Refresh" %>
    <% end %>
  <% end %>
<% end %>
