<div>
  <h1>Upcoming Shows</h2>
  <% @calendar.each do |item| %>
  <p><%= item[:summary] %></p>
  <p><%= item[:location] %></p>
  <p><%= item[:time] %> </p>
  <% end %>
</div>
<% if session[:user_id] %>
  <%= form_for Calendar.new do |f| %>
  <%= f.submit "create" %>
  <% end %>
<% end %>