<div>
  <h1>Upcoming Shows</h2>
  <% @calendar.each do |item| %>
  <ul>
    <li>
      <%= item[:summary] %>
    </li>
    <ul>
      <li>
        <%= item[:location] %>
      </li>
      <li>
        <%= item[:readable_time] %>
      </li>
    </ul>
  </ul>
  <% end %>
</div>
<% if session[:id] != nil && Calendar.first == nil %>
  <%= form_for Calendar.new do |f| %>
  <%= f.submit "create" %>
  <% end %>
<% end %>