<% @title = "Upcoming Shows" %>
<div>
  <h1 class="neb">Upcoming Shows and Events</h2>
  <% @calendars.each do |item| %>
  <ul class="events">
    <li>
      <h2 class="neb"><%= item[:summary] %></h2>
    </li>
    <ul class="events">
      <li>
        <%= item[:readable_time] %>
      </li>
      <li>
        <p><%= item[:description] %></p>
      </li>
      <li>
        <%= item[:location] %>
      </li>
    </ul>
  </ul>
  <% end %>
</div>
<% if session[:id] != nil %>
  <p class="notice">Add or make changes to events through google calendar.</p>
  <%= form_for Calendar.new do |f| %>
    <% if Calendar.first == nil %>
      <%= f.submit "Create" %>
    <% else %>
      <%= f.submit "Refresh" %>
    <% end %>
  <% end %>
<% end %>