<div class="admin">
  <% if session[:id] != nil %>
  <%= link_to "New Blog Post", new_post_path %>
<% end %>
</div>
<% @posts.each do |post| %>
  <div class="col left">
    <div class="headline">
      <%= link_to post.title, post_path(post.id)%>
    </div>
    <h4 >
      by: <%= post.author %>
    </h4>
    <p class="article">
      <%= post.body %>
    </p>
    <div class="admin">
      <% if session[:id] != nil %>
        <%= link_to "Edit |" %>
        <%= link_to " Delete" %>
      <% end %>
    </div>
    <p class="footer divider">
      <%= post.created_at %>
    </p>
  </div>
<% end %>