<div class="admin">
  <% if session[:id] != nil %>
  <%= link_to "New Blog Post", new_post_path %>
<% end %>
</div>
<% @posts.each do |post| %>
    <div class='row'>
      <div class="headline neb col">
        <%= link_to post.title, post_path(post.id)%>
      </div>
    </div>
    <div class='row'>
      <div class="muted padBtm byline col">
        by: <%= post.author.titleize %> Force
      </div>
    </div>
      <div class='row'>
        <div class='col'>
          <p class="article">
            <%= post.body.html_safe %>
          </p>
        </div>
      </div>
      <div class="footer divider muted mBtm mTop padTop row">
        <p class="timestamp">
          <%= format_time(post.created_at) %>
        </p>
      </div>
<% end %>
