<div class="admin">
  <% if session[:id] != nil %>
  <%= link_to "New Blog Post", new_post_path %>
<% end %>
</div>
<% @posts.each do |post| %>
    <div class="headline neb">
      <%= link_to post.title, post_path(post.id)%>
    </div>
    <div class="muted padBtm byline">
      by: <%= post.author.titleize %> Force
    </div>
    <p class="article">
      <%= post.body.html_safe %>
    </p>
    <div class="footer divider muted mBtm mTop padTop">
      <p class="timestamp">
        <%= format_time(post.created_at) %>
      </p>
    </div>
<% end %>
