<% if session[:id] == nil %>
  <h1>
    <%= @post.title %>
  </h1>
  <h4 class="muted">
    By <%= @post.author + ' Force'%> 
  </h4>
  <p>
    <%= @post.body.html_safe %>
  </p>
  <p class="footer muted">
    <%= format_time(@post.created_at) %>
  </p>
<% else %>
  <%= form_for @post do |f| %>
    <%= f.label(:title, "Post Title") %>
    <%= f.text_field :title %>
    <div class="byline">
      by <%= session[:username].titleize%> Force
    </div>
    <%= f.label(:body, "Post Body") %>
    <%= f.text_area :body, size: "60x12", :class => "tinymce" %>
    <%= f.submit "Update", action: "update" %>
  <% end %>
  <%= tinymce %>
<%= link_to("Delete Post", post_path, method: :delete, data: { confirm: "Are you sure?" }) %>
<% end %>
