<!DOCTYPE html>
<html>
<head>
  <title>Nebula Force, Go!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <div class="container">
      <% if session[:id] != nil %>
        <%= render "sessions/show" %>
      <% end %>
      <div class="stars col">
        <div class="laser redLaser"></div>
        <div class="laser blueLaser"></div>
        <div class="laser greenLaser"></div>
        <div class="laser orangeLaser"></div>
        <div class="laser goldLaser"></div>
        <div class="laser purpleLaser"></div>
        <div class="nebTop col glow center"><%= image_tag('logo.png', class: "logo") %></div>
      </div>
      <ul class="nav col center">
        <li class="blog"> <a class="fancy" href="/">Blog</a> </li>
<!--         <li class="pics"> <a class="fancy" href="">Pics</a> </li> -->
        <!-- <li class="music"> <a class="fancy" href="http://nebulaforcego.bandcamp.com/">Music</a> </li> -->
        <li class="videos"> <%= link_to "Videos", videos_path, class: "fancy" %> </li>
        <li class="shows"> <%= link_to "Upcoming Shows", calendars_path, class: "fancy" %> </li>
        <!-- <li class="contact"> <a class="fancy" href="">Contact</a> </li> -->
      </ul>

    <%= yield %>
  </div>
</body>
</html>
