<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if session[:id] != nil %>
  <%= render "sessions/show" %>
  <% end %>
  <div class="stars">
    <div class="laser redLaser"></div>
    <div class="laser blueLaser"></div>
    <div class="laser greenLaser"></div>
    <div class="laser orangeLaser"></div>
    <div class="laser goldLaser"></div>
    <div class="laser purpleLaser"></div>
    <div class="nebTop center">
      <%= image_tag('logo.png', class: "logo") %>
    </div>
  </div>
  <% if flash[:success] %>
  <p class="success">
    <%= flash[:success] %>
  </p>
  <% end %>
  <div class="container">
    <div class="row mBtm">
      <ul class="nav ">
        <li class="navItem col span-3-t"> 
          <a class="news" href="/">NEWS</a> 
        </li>
        <li class="navItem col span-3-t"> 
          <%= link_to "MEDIA", videos_path, class: "media" %> </li>
          <li class="navItem col span-3-t"> 
            <%= link_to "CALENDAR", calendars_path, class: "calendar" %>
          </li>
          <li class="navItem col span-3-t">
            <%= link_to "CONTACT", new_contact_path, class: "contact" %>
          </li>
          <!--         <li class="ABOUT"> <a class="fancy" href="">Pics</a> </li> -->
          <!-- <li class="MUSIC"> <a class="fancy" href="http://nebulaforcego.bandcamp.com/">Music</a> </li> -->

        </ul>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
  </html>
