<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
      <% if session[:id] != nil %>
        <%= render "sessions/show" %>
      <% end %>
      <div class="stars">
        <div class="laser redLaser"></div>
        <div class="laser blueLaser"></div>
        <div class="laser greenLaser"></div>
        <div class="laser orangeLaser"></div>
        <div class="laser goldLaser"></div>
        <div class="laser purpleLaser"></div>
        <div class="nebTop center">
          <%= image_tag('logo.png', class: "logo") %>
        </div>
      </div>
      <ul class="nav center">
        <li class="blog"> <a class="fancy" href="/">Blog</a> </li>
<!--         <li class="pics"> <a class="fancy" href="">Pics</a> </li> -->
        <!-- <li class="music"> <a class="fancy" href="http://nebulaforcego.bandcamp.com/">Music</a> </li> -->
        <li class="videos"> 
          <%= link_to "Videos", videos_path, class: "fancy" %> </li>
        <li class="shows"> 
          <%= link_to "Upcoming Shows", calendars_path, class: "fancy" %>
        </li>
        <li class="contact">
          <%= link_to "Contact Us", new_contact_path, class: "fancy" %>
        </li>
      </ul>
    <div class="container">
        <div>
          <%= yield %>
        </div>
    </div>
</body>
</html>
